.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: black;
  padding: 10px 10px 10px 10px;
}

.App-link {
  color: #61dafb;
}

.WalletConnector {
 text-align: right;
}

.button {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 10px;
  white-space: nowrap;
}

.userInfo {
  text-align: right;
  align-items: flex-end;
  justify-content: flex-end;
}

.userAddress {
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap;
}

.userBalance {
  text-align: right;
  text-overflow: clip;
  overflow: hidden;
  /* max-width: 50px; */
  white-space: nowrap;
}

.form {
  flex-direction: column;
  padding-top: 100px;
}

.formInput {
  padding-bottom: 20px;
}